!!! 5
%html
  %head
    %meta{ charset: "UTF-8" }
      %title jQuery Spin
      %link{ href:"https://fonts.googleapis.com/css?family=Lato", rel: "stylesheet", type: "text/css" }
      %link{ href:"stylesheets/jquery.spin.css", rel: "stylesheet", type: "text/css" }
      %link{ href:"stylesheets/sample.css", rel: "stylesheet", type: "text/css" }
      %script{ src:"javascripts/jquery.js", type: "text/javascript" }
      %script{ src:"javascripts/jquery.spin.js", type: "text/javascript" }
      %script{ src:"javascripts/sample.js", type: "text/javascript" }
      %script{ src: "javascripts/rainbow.js", type: "text/javascript" }
      :javascript

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31911059-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    .content
      %a{ href: "https://github.com/ksylvest/jquery-spin"}
        %img.fork{ src: "images/fork.png", alt: "Fork" }
      %h1 jQuery Spin
      %p Spin is a jQuery plugin that creates animated loading indicators with only CSS and JavaScript.
      %h2 Example
      %section.examples
        .spin{ data: { spin: "spin" } }
        .spin.spin-gleam{ data: { spin: "spin" } }
        .spin.spin-dusky{ data: { spin: "spin" } }
      %h2 Installation
      %p To install download one of these packages and include the jquery.spin.js and jquery.spin.css files in your head with the following:
      %section.formats
        .format
          %a.zip{ href: "packages/jquery.spin.zip" }
        .format
          %a.tar{ href: "packages/jquery.spin.tar" }
      %pre
        %code{ data: { language: "html" } }
          = preserve do
            :escaped
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>
              <script src="javascript/jquery.spin.js" type="text/javascript"></script>
              <link href="stylesheets/jquery.spin.css" rel="stylesheet" type="text/css" />
      %h2 Example
      %p Setting up a spinner is simple. The following snippet is all that is needed:
      %pre
        %code{ data: { language: "html" } }
          = preserve do
            :escaped
              <div class="spin" data-spin />
      %p To add spinners manually try:
      %pre
        %code{ data: { lanagauge: "javascript" } }
          = preserve do
            :escaped
              $('.spin').spin();
              $('.spin').spin('show');
              $('.spin').spin('hide');
      %h2 Styling
      %p Theming a spinner is easy:
      %pre
        %code{ data: { language: "css" } }
          = preserve do
            :escaped
              .spin
              {
                background: #444; /* outline */
                > *
                {
                  background: #EEE; /* hand */
                }
              }
      %p.copy
        Copyright (c) 2010 - 2013 
        %a{ href: "http://ksylvest.com/" } Kevin Sylvestre
      %p.links
        %a{ href: "https://github.com/ksylvest" } GitHub
        %a{ href: "https://plus.google.com/116904102385940004448?rel=author" } Google
        %a{ href: "https://twitter.com/ksylvest" } Twitter
